---
import Layout from "../../layouts/Layout.astro";
import RenderIfexists from "../../components/RenderIfexists.astro";
//@ts-expect-error
import { Icon } from "astro-icon";

export async function getStaticPaths() {
  const posts = await Astro.glob("../../markdowns/*.md");
  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={"Organization | " + frontmatter.name}>
  <section class="min-h-[94vh] px-3">
    <div class="pt-24">
      <div class="flex items-center justify-center gap-5 lg:mb-7 mb-3">
        <div>
          <img
            src={frontmatter.logo}
            alt={frontmatter.name + "'s logo"}
            class="lg:w-[200px] w-[100px]"
          />
        </div>
        <div>
          <p class="font-bold lg:text-3xl text-2xl">
            {frontmatter.name}
          </p>
        </div>
      </div>
    </div>
    <div
      class="max-w-[800px] text-justify mx-auto lg:text-lg leading-loose flex flex-col gap-2 blog-content"
    >
      <Content />
    </div>
    <div class="flex justify-center gap-3 mt-7 pb-5">
      <RenderIfexists prop={frontmatter.fb}>
        <a href={frontmatter.fb}
          ><Icon name="mdi:facebook" class="w-10 text-blue-600" /></a
        >
      </RenderIfexists>
      <RenderIfexists prop={frontmatter.insta}>
        <a href={frontmatter.insta}
          ><Icon name="mdi:instagram" class="w-10 text-pink-600" /></a
        >
      </RenderIfexists>
      <RenderIfexists prop={frontmatter.linkedin}>
        <a href={frontmatter.linkedin}
          ><Icon name="mdi:linkedin" class="w-10 text-blue-800" /></a
        >
      </RenderIfexists>
      <RenderIfexists prop={frontmatter.web}>
        <a href={frontmatter.web}
          ><Icon name="mdi:web" class="w-5" class="w-10 text-slate-400" /></a
        >
      </RenderIfexists>
    </div>
  </section>
</Layout>

<style is:global>
  .blog-content h1 {
    @apply font-bold;
    @apply text-2xl;
    @apply mt-4;
    @apply mb-2;
  }

  .blog-content {
    @apply tracking-wide;
  }

  .blog-content h2 {
    @apply font-bold;
    @apply text-2xl;
    @apply mt-5;
  }

  @media screen and (max-width: 768px) {
    .blog-content h1 {
      @apply font-bold;
      @apply text-xl;
      @apply mt-4;
      @apply mb-2;
    }

    .blog-content h2 {
      @apply font-bold;
      @apply text-xl;
      @apply mt-5;
    }

    .blog-content {
      @apply text-sm;
    }
  }
</style>
