---
import type { OrganizationType } from "../types/types";
export interface Props {
  org: OrganizationType;
}

const { org } = Astro.props;

console.log(org);
---

<div
  class="w-[320px] text-center shadow bg-[#f4f4f4] m-3 rounded overflow-hidden hover:-translate-y-3 transition-all hover:shadow-md"
>
  {
    org.img ? (
      <img src={org.img} alt="" class="w-[100%] h-[200px]" />
    ) : (
      <div class="w-[100%] h-[200px] bg-slate-700" />
    )
  }
  <div class="py-5 px-3">
    <h3 class="text-2xl mb-1 font-bold">{org.name}</h3>
    <div class="flex justify-center gap-1 mb-3 flex-wrap">
      {
        org.field ? (
          <a href="">
            <div class="text-sm border-2 border-primary text-primary px-1 rounded">
              {org.field}
            </div>
          </a>
        ) : (
          ""
        )
      }

      {
        org.goal ? (
          <a href="">
            <div class="text-sm border-2 border-primary text-primary px-1 rounded">
              {org.goal.trim()}
            </div>
          </a>
        ) : (
          ""
        )
      }
    </div>
    <p class="mb-2">
      {org.description}
    </p>
    <a href=`/organizations/${org.slug}`>
      <button class="py-2 px-4 bg-primary text-white rounded">See more</button>
    </a>
  </div>
</div>
